@import "tailwindcss";

@theme {
  --color-main-50: #fff3ed;
  --color-main-100: #ffe4d4;
  --color-main-200: #ffc5a8;
  --color-main-300: #ff9d71;
  --color-main-400: #ff5c27;
  --color-main-500: #fe4111;
  --color-main-600: #ef2707;
  --color-main-700: #c61808;
  --color-main-800: #9d160f;
  --color-main-900: #7e1510;
  --color-main-950: #440606;

  --color-base-50: #e8e8e8ff;
  --color-base-100: #d1d1d1;
  --color-base-200: #b3b3b3ff;
  --color-base-300: #7e7e7eff;
  --color-base-400: #494949ff;
  --color-base-500: #3c3c3cff;
  --color-base-600: #2f2f2fff;
  --color-base-700: #292929ff;
  --color-base-800: #222222ff;
  --color-base-900: #1b1b1bff;
  --color-base-950: #141414ff;
}
