---
const breakingNews: string[] = ["asd"];
---

<header class="p-4 bg-base-900">
  <div class="mx-auto w-full max-w-[1024px] flex justify-between">
    <picture class="text-base-50 text-4xl flex">
      <b class="text-main-400 font-bold">NEWS.</b>page
    </picture>

    <nav class="flex items-center">
      <ul class="text-base-50 flex gap-4">
        <li
          class="uppercase transition-all hover:text-main-400 hover:underline"
        >
          <a href="#">Inicio</a>
        </li>
        <li
          class="uppercase transition-all hover:text-main-400 hover:underline"
        >
          <a href="#">Ultimas noticas</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

{
  breakingNews.length > 0 && (
    <div class="p-2 bg-base-800">
      <div class="mx-auto w-full max-w-[1024px] flex justify-between">
        <p class="text-base-50 font-bold text-sm">
          <b class="text-main-400 font-light">Ultimas noticias: </b> Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Quis, aspernatur.
        </p>
      </div>
    </div>
  )
}
