---
import Head from "../components/common/Head.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />

  <body class="bg-base-50">
    <slot />
  </body>
</html>
