---
import Head from "../components/common/Head.astro";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />

  <body class="bg-base-50">
    <Header />

    <slot />

    <Footer />
  </body>
</html>
